body {
    background-image: url("/assets/images/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

#catalog {
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    padding: 50px 50px;

}

table {
    font-size: larger;
    padding-left: 100px;
    
}

h3 {
    color: var(--text-accent-color);
}

button {
    background-color: var(--text-accent-color);
    color:white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 23px;
    border-width: 0;
}

#searchbar {
    padding: 7px 10px;
    border-radius: 10px;
    margin: 0px 23px;
}